@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  color:white;
}

body{
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:black;
    transition: background-color 1s ease-out;
}
  
#quote-box{
    background-color:white;
    width:60vw;
    max-height:150px; 
    min-height: 150px;
    height:30vh;
    border-radius:5px;
    display:flex; 
    flex-direction:column;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.text-section{
    margin:auto;
    width:90%;
    text-align:center;
}
    
#author{
    text-align:right;
    font-size:0.85em;

}


.button-section{
    margin:auto;
    width:90%;
    display:flex;
    justify-content:space-between;
}
    
a{
    font-size:30px;
}

#new-quote{
    border-radius:10px;
}

button{
  padding:5px;
}

body,button,i,#text,#author{
    transition:  1s ease-out ;
}


