@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  color:white;
}

body{
  height:100vh;
  width:100vw;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:black;
}
  
#quote-box{
    background-color:white;
    width:60vw;
    max-height:60vh; 
    height:30vh;
    border-radius:5px;
    display:flex; 
    flex-direction:column;
}

.text-section{
    margin:auto;
    width:90%;
    text-align:center;
}
    
#author{
    text-align:right;
    font-size:0.85em;
}

.button-section{
    margin:auto;
    width:90%;
    display:flex;
    justify-content:space-between;
}
    

i{
    color:red;
    font-size:30px;
    margin:0px;
}

#new-quote{
    border-radius:10px;
}

button{
  padding:5px;
}

